.tribal-councils-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tribal-council h2 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    margin: 0px;
}

.tribal-council {
    margin: 10px 40px;
}