/* Dropdown content (hidden by default) */
#selection {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 3px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content div.season-option:hover:not(.selected) {
  text-decoration: none;
  background-color: #ddd;
}

div.season-option.selected {
  background-color: #111;
  color: white;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown.active .dropdown-content {
  display: block;
}

@media only screen and (max-width: 671px) {
  .navbar h1 {
    justify-self: center;
  }

  #season-select {
    justify-self: center;
  }

  .dropdown-content {
    position: fixed;
    left: 0; 
  }
}