/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    z-index: 100;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40px;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
  }

.clear-navbar {
  clear: both;
}

#season-select {
  width: 200px;
  height: 25px;
}
  
.episode-selector {
  display: grid;
  grid-template-columns: 1fr 124px 1fr;
  align-items: center;
  justify-self: center;
  align-self: stretch;
  height: 40px;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  user-select: none;
}

.episode-selector h2 {
  display: inline;
  font-weight: 400;
  font-size: 1.8rem;
  justify-self: center;
  /* Override other h2 properties */
  margin-block-start: 0;
  margin-block-end: 0;
}

.episode-arrow {
  padding: 0px 9px;
}

.episode-arrow.right {
  justify-self: start;
}

.episode-arrow.left {
  justify-self: end;
}

.hidden {
  visibility: hidden;
}

.navbar h1 {
  margin: 0px;
  justify-self: end;
  font-family: 'Survivant';
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255,255,255,0.8);
  padding-right: 5px;
}

.beta {
  font-family: "Arial";
  font-size: 1rem;
  color: rgb(255,0,0,0.7);
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .navbar h1 {
    font-size: 1rem;
  }
}