.vote-container {
  display: grid;
  grid-template-columns: auto auto 70px;
  margin: auto;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  grid-row-gap: 20px;
  grid-column-gap: 5px;
  margin-bottom: 30px;
}

h2 {
  font-weight: 400;
}

.voters {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  max-width: auto;
}

.voters .headshot-container {
  margin: 2px;
}

.grid-title {
  grid-column-start: 1;
  grid-column-end: span 3;
  color: white;
  text-align: left;
  font-size: 1.2rem;
}

.grid-title h3 {
  font-weight: 400;
  margin: 0;
}

.grid-title hr {
  margin: 0;
}

.tribal-notes {
  color: white;
  font-style: italic;
  font-size: 1rem;
  max-width: 400px;
  margin: 10px auto;
}
