.vote-container {
    display: grid;
    grid-template-columns: auto auto 70px;
    margin: auto;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap: 5px;
}

.voters {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: auto;
}

.voters .headshot-container {
    margin: 2px;
}


