button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.arrow {
  cursor: pointer;
  position: fixed;
  width: 70px;
  height: 90px;
  z-index: 100;
}

.down {
  transform: rotate(90deg);
  left: 50%;
  margin-left: -35px;
  margin-bottom: -10px;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.down {
  bottom: 0px;
}

polyline {
  transition: all 250ms ease-in-out;
}