.tribe .castaway-card {
  min-width: 130px;
  min-height: 130px;
}

.tribe {
  flex: 1 1;
}

/* Make Extinction Island narrower than the rest */
.tribe.extinction-island {
  flex: 0.1;
}

.castawayList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tribe .castawayList {
  max-width: 800px;
  margin: auto;
}
