.tribe h1 {
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  font-family: 'Survivant';
  font-size: 4rem;
  font-weight: 500;
  align-content: center;
  text-align: center
}

.castaway-card {
  min-width: 130px;
  min-height: 130px;
}

.tribe {
  flex: 1 1;
}

/* Make Extinction Island narrower than the rest */
.tribe.extinction-island {
  flex: none;
}

.castawayList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tribe .castawayList {
  max-width: 800px;
  margin: auto;
}
