html,
body,
.root,
.App,
main {
  min-height: 100vh;
}

main {
  text-align: center;
  font-family: 'Londrina Solid', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

article h1 {
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  font-family: 'Survivant';
  font-size: 3rem;
  font-weight: 500;
  align-content: center;
  text-align: center;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Survivant';
  src: url(./fonts/survivant.ttf)
}

@font-face {
  font-family: 'Survivor Font';
  src: url(./fonts/survivorfont.ttf)
}

@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900');