.voted-out-panel {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 80px;
}

.clear-footer {
  clear: both; height: 80px;
}

.votedout {
  height: 100%;
  justify-content: flex-start;
  flex-flow: row;
  overflow-x: auto;
}

.voted-out-panel img {
  width: 64px;
}

.voted-out-panel .card-nameplate {
  display:none;
}

.jury-title {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 100;
  color: white;
}


