.preseason-stats {
    background: #333333;
}

.preseason-stats h1 {
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    font-family: 'Survivant';
    font-size: 4rem;
    font-weight: 500;
    align-content: center;
    text-align: center;
    margin:auto;
}