.castaway-card {
    max-width: 130px;
    max-height: 170px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    width: auto;
    height: auto;
}

.card-nameplate {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.tribe-circle-container {
    position: absolute;
    top: 0;
    left: 0;
}

.tribe-circle {
    border: solid #333 1.2px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 2px;
    display: inline-block;
}

.card-name {
    max-width: 90%;
    color: rgb(255,255,255,0.9);
    font-family: 'Londrina Solid', sans-serif;
    font-size: 1.35rem;
    font-weight: 100;
    text-shadow: 3px 3px 5px black, -1px -1px 8px black;
}

img {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
}