img {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
}

a img {
    cursor: pointer;
}

 /* One-off styles */
 .tribe.extinction-island .castaway-card {
    min-width: 100px;
    min-height: 100px;
 }